# Various IDEs
.idea/
.vscode/
*.iml
*.idea
*.vs

# Git and version control
.git/
.gitignore

# Docker override files
docker-compose.override.yml
docker-compose.override.yaml

# Environment files
.env.local
.env.local.dist
.env.*

# Dependency directories
**/node_modules/
**/bower_components/

# Log files
logs/
*.log

# Compiled output
/dist
/tmp
/out
/target
/build

# Dependencies
**/pom.xml.versionsBackup
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.next
**/pom.xml.backup

# Maven Wrapper files
**/.mvn/wrapper/maven-wrapper.jar
**/.mvn/wrapper/MavenWrapperDownloader.java

# Others
**/README.md
**/LICENSE
**/CODE_OF_CONDUCT.md
**/SECURITY.md
**/START.md
*.md

# Operating system files
.DS_Store
Thumbs.db

# Test directories
**/test-results
**/.tmp
**/test-report

# CI/CD
.github/
.gitlab-ci.yml
.travis.yml

# Documentation
docs/

./products