root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
ij_continuation_indent_size = 8

[*.java]
ij_java_class_brace_style = end_of_line
ij_java_method_brace_style = end_of_line
ij_java_if_brace_force = always
ij_java_for_brace_force = always
ij_java_while_brace_force = always
ij_java_do_while_brace_force = always
ij_java_use_single_class_imports = true
ij_java_names_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand_for_members = 999

[*.{yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
